*.txt

# ===============================
# Python / FastAPI
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# ===============================
# Node / React (later)
# ===============================
node_modules/
dist/
build/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Logs & Temp
# ===============================
*.log
*.tmp
